{% load menu_extras %}


<style>
    .menu a.active {
        background-color: lightblue;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Add a click event listener to all menu items
        var menuItems = document.querySelectorAll('.menu a');
        menuItems.forEach(function (item) {
            item.addEventListener('click', function () {
                // Remove the 'active' class from all menu items
                menuItems.forEach(function (menuItem) {
                    menuItem.classList.remove('active');
                });

                // Add the 'active' class to the clicked menu item
                item.classList.add('active');
            });
        });
    });
</script>

<ul class="menu">
    {% for item in menu_items %}
        <li>
            <a href="javascript:void(0);" data-item-id="{{ item.id }}" class="menu-item">{{ item.name }}</a>
            {% if item.children.all %}
                {% draw_menu_recursive item %}
            {% endif %}
        </li>
    {% endfor %}
</ul>